.logo-icon {
  width: 32.1px;
  position: relative;
  height: 28px;
}
.logo,
.logo-cont {
  background-color: var(--ai-template-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-cont {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xs);
}
.logo {
  position: absolute;
  width: 5.56%;
  top: 0;
  right: 94.44%;
  left: 0;
  border-right: 1px solid var(--ai-template-border);
  border-bottom: 1px solid var(--ai-template-border);
  box-sizing: border-box;
  height: 96px;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-5xs);
}
.video-generator,
.welcome-smith {
  width: 118px;
  position: relative;
  line-height: 140%;
  display: none;
}
.video-generator {
  width: 237px;
  font-size: var(--semibold1-size);
  font-weight: 600;
  color: var(--ai-template-black);
  display: inline-block;
}
.heading {
  width: 264px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.search-01-icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.search-ai-contents {
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon,
.k {
  position: relative;
}
.icon {
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.k {
  line-height: 132%;
  font-weight: 500;
}
.command-key {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.ctrlk {
  position: relative;
  line-height: 132%;
  text-transform: capitalize;
  font-family: var(--font-dm-mono);
  color: var(--ai-template-white);
}
.key-focus,
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.key-focus {
  border-radius: var(--br-65xl);
  background-color: var(--ai-template-black);
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  font-size: var(--regular-size);
  color: var(--color-gray-100);
}
.search-bar {
  width: 608px;
  border-radius: var(--br-33xl);
  background-color: var(--ai-template-white);
  border: 1px solid var(--ai-template-dark-10);
  box-sizing: border-box;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-9xs)
    var(--padding-xl);
}
.search-wrapper {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 180px 0 0;
}
.globe-icon {
  width: 48px;
  position: relative;
  height: 48px;
}
.arrow-down-01-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.icon1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.avatar-image-icon {
  width: 48px;
  position: relative;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.john-smith,
.project-manager {
  position: relative;
  line-height: 132%;
}
.john-smith {
  text-transform: capitalize;
  font-weight: 500;
}
.project-manager {
  font-size: var(--font-size-mid-3);
  color: var(--text-70);
}
.details {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini-7);
}
.top-right-nav,
.user-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs-7);
}
.top-right-nav {
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--font-size-3xl-7);
  color: var(--text-90);
}
.header,
.header-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 96px;
}
.header-content {
  width: 94.44%;
  left: 5.56%;
  background-color: var(--ai-template-white);
  border-bottom: 1px solid var(--ai-template-border);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xl);
}
.header {
  width: 100%;
  left: 0;
}
.write-own-prompt {
  position: relative;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 500;
}
.tab-content {
  flex: 1;
  border-radius: var(--br-25xl);
  background-color: var(--ai-template-transparent-purple-8);
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.layout-07-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.tab,
.tab-content1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tab-content1 {
  flex: 1;
  border-radius: var(--br-25xl);
  height: 48px;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  cursor: pointer;
}
.tab {
  align-self: stretch;
  border-radius: var(--br-41xl);
  background-color: var(--ai-template-white);
  border: 1px solid var(--ai-template-border);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  gap: var(--gap-5xs);
}
.wricon-ai-prompt-magic- {
  width: 16px;
  position: relative;
  height: 16px;
}
.placeholder {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.wricon-ai-prompt-magic-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.wricon-ai-prompt-magic-1 {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.placeholder1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.ai-button {
  width: 768px;
  border-radius: var(--br-5xl);
  border: 1px solid var(--ai-template-cta);
  box-sizing: border-box;
  height: 32px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-5xs);
  font-size: var(--semibold-size);
  color: var(--ai-template-purple);
}
.message-container {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--ai-template-white);
  border: 1px solid var(--ai-template-border);
  box-sizing: border-box;
  height: 141px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-5xl);
}
.ai-button1,
.message-container-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.ai-button1 {
  border-radius: var(--br-5xl);
  background: linear-gradient(268.97deg, #00dffd, #5c0fff);
  border: 1px solid var(--ai-template-border);
  box-sizing: border-box;
  height: 48px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-5xs);
  font-size: var(--medium-size);
  color: var(--ai-template-white);
}
.message-container-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--regular-size);
}
.horizontal1 {
  position: absolute;
  height: 58.5%;
  width: 83.5%;
  top: 21%;
  right: 8%;
  bottom: 20.5%;
  left: 8.5%;
  border-radius: var(--br-10xs);
  border: 1.5px solid var(--ai-template-dark-50-font-2);
  box-sizing: border-box;
}
.wriconhorizontal {
  width: 20px;
  position: relative;
  height: 20px;
}
.horizontal {
  border-radius: var(--br-25xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  gap: var(--gap-9xs);
}
.panoramic1,
.square1,
.vertical1 {
  position: absolute;
  height: 58.5%;
  width: 83.5%;
  top: 8.5%;
  right: -62.5%;
  bottom: 33%;
  left: 79%;
  border-radius: var(--br-10xs);
  border: 1.5px solid var(--ai-template-dark-50-font-2);
  box-sizing: border-box;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.panoramic1,
.square1 {
  height: 60%;
  width: 60%;
  top: 20%;
  right: -40%;
  bottom: 20%;
  left: 80%;
}
.panoramic1 {
  height: 40%;
  width: 80%;
  top: 70%;
  right: -70%;
  bottom: -10%;
  left: 90%;
  transform: rotate(-180deg);
}
.head-orientation,
.orientation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.orientation {
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--regular-size);
  color: var(--ai-template-dark-70);
}
.head-orientation {
  align-self: stretch;
  justify-content: space-between;
}
.generated-image-icon {
  flex: 1;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  height: 197px;
  object-fit: cover;
  min-width: 314px;
}
.generated-video-result,
.images {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.images {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-9xs);
}
.generated-video-result {
  flex-direction: column;
  gap: var(--gap-base);
  text-align: center;
  color: var(--ai-template-black);
}
.download-04-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.ai-button2,
.ai-button4,
.ai-button5 {
  border-radius: var(--br-5xl);
  box-sizing: border-box;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.ai-button2 {
  width: 133px;
  background-color: var(--ai-template-transparent-purple-8);
}
.ai-button4,
.ai-button5 {
  flex: 1;
}
.ai-button4 {
  background-color: var(--ai-template-purple);
  color: var(--ai-template-white);
}
.ai-button5 {
  border: 1px solid var(--ai-template-cta);
}
.action,
.body,
.form-upload {
  display: flex;
  justify-content: flex-start;
}
.action {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--ai-template-purple);
}
.body,
.form-upload {
  flex-direction: column;
}
.form-upload {
  align-self: stretch;
  border-radius: var(--br-13xl);
  align-items: flex-start;
  gap: var(--gap-17xl);
  color: var(--ai-template-dark-50-font-2);
}
.body {
  position: absolute;
  top: 271px;
  left: 284px;
  border-radius: var(--br-5xl);
  background-color: var(--ai-template-white);
  width: 872px;
  align-items: center;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--ai-template-purple);
}
.panze {
  background: linear-gradient(-44.81deg, #00dffd, #5c0fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.panze-ai-photo-container,
.use-it-for {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.panze-ai-photo-container {
  text-transform: capitalize;
  font-weight: 600;
}
.use-it-for {
  font-size: var(--medium-size);
  color: var(--ai-template-dark-70);
}
.head {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.pin {
  width: 12px;
  position: relative;
  border-radius: var(--br-xs);
  background: linear-gradient(-70deg, #00dffd, #5c0fff);
  height: 12px;
}
.content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.pin1 {
  width: 12px;
  position: relative;
  border-radius: var(--br-xs);
  background: linear-gradient(45.19deg, #ff8c21, #f5576e);
  height: 12px;
}
.text-unlimited {
  position: relative;
  line-height: 140%;
}
.content2,
.left-content {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content2 {
  display: none;
  gap: var(--gap-9xs);
}
.left-content {
  display: flex;
  gap: var(--gap-base);
}
.pin2 {
  width: 12px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--ai-template-background);
  height: 12px;
}
.container,
.title {
  flex-direction: row;
  justify-content: flex-start;
}
.container {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: var(--gap-base);
}
.title {
  width: 377px;
  height: 10px;
  display: none;
  align-items: flex-start;
}
.progress-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 12px;
  flex-shrink: 0;
}
.progress-bar,
.progress-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.progress-bar {
  align-self: stretch;
  color: var(--ai-template-black);
}
.progress-details {
  flex: 1;
  border-radius: var(--br-xs);
  font-size: var(--medium-size);
  color: var(--ai-template-dark-50-font-2);
}
.banner {
  position: absolute;
  top: 116px;
  left: 196px;
  border-radius: var(--br-5xl);
  background-color: var(--ai-template-white);
  width: 1048px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  font-size: var(--semibold1-size);
  color: var(--color-black);
}
.image-generator {
  width: 100%;
  position: relative;
  background-color: var(--ai-template-background);
  height: 1232px;
  overflow: hidden;
  text-align: left;
  font-size: var(--medium-size);
  color: var(--ai-template-dark-50-font-2);
  font-family: var(--semibold);
}
